<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <div>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/employees}">Employee</a>
    </div>
    <form th:action="@{/create-employee}" th:object="${employee}" method="post">
        <table>
            <tr>
                <td>Code:</td>
                <td><input type="text" th:field="*{employeeCode}"/></td>
                <td th:if="${#fields.hasErrors('employeeCode')}" th:errors="*{employeeCode}"></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><select th:field="*{type}">
                    <option th:each="type : ${types}" th:value="${type.id}"
                            th:text="${type.nameType}"></option>
                </select></td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td><input type="text" th:field="*{birthday}"/></td>
                <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></td>
            </tr>
            <tr>
                <td>Sex:</td>
                <td><input type="text" th:field="*{sex}"/></td>
                <td th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input type="text" th:field="*{phoneNumber}"/></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></td>
            </tr>
            <tr>
                <td>CMND:</td>
                <td><input type="text" th:field="*{cmnd}"/></td>
                <td th:if="${#fields.hasErrors('cmnd')}" th:errors="*{cmnd}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}"/></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" th:field="*{address}"/></td>
                <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
</body>
</html>